resources/examples/average-expression.substrait filter=lfs diff=lfs merge=lfs -text
resources/examples/average-expression.substrait.txt filter=lfs diff=lfs merge=lfs -text
resources/examples/select-expr.substrait filter=lfs diff=lfs merge=lfs -text
resources/examples/result.split-avg-expr.txt filter=lfs diff=lfs merge=lfs -text
resources/subplans/1.1.4.substrait filter=lfs diff=lfs merge=lfs -text
resources/subplans/2.0.5.substrait filter=lfs diff=lfs merge=lfs -text
resources/subplans/2.1.6.substrait filter=lfs diff=lfs merge=lfs -text
resources/subplans/0.0.1.substrait filter=lfs diff=lfs merge=lfs -text
resources/subplans/0.1.2.substrait filter=lfs diff=lfs merge=lfs -text
resources/subplans/1.0.3.substrait filter=lfs diff=lfs merge=lfs -text
